# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Node / Frontend
node_modules/
dist/
*.log

# IDE
.vscode/
.idea/

# OS / Misc
Thumbs.db
*.DS_Store

# Env
.env
frontend/.env

# Process IDs
*.pid
backend.pid
frontend.pid

# Backend venv
backend/venv/
